.cabecalho{
    background-color: #383D58;
    color: white;
    display: flex;
}

.cabecalho-imagem{
    width: 20%;
}
.cabecalho-lista-item{
display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 26px;
}  

.escola{
    display: flex;
    color: white;
    background-image: radial-gradient(circle at 64.87% 18.11%, #d1ffff 0, #a3eaff 16.67%, #6fd26f 34.46%, #00b8ff 40%, #009ef6 76.68%, #0086ed 29.38%, #0070e4 100%);
    justify-content: center;
    align-items: center;
    padding: 0 24px;

}

.escola-conteudo {
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}

body{
    font-family: 'Poppins', sans-serif;
}


.estudante-div{
    text-align: center;
}
.estudante-titulo
{
    text-align: center;
    padding: 50px 0;
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}

.cabecalho-link{
    color: white;
}

.rodape-imagem{
    width: 30px;
}
